Repository famarks/grafarg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafarg/docs-squad, @marcusolsson, @osg-grafarg, @grafarg/backend-platform, @grafarg/cloud-datasources, @grafarg/hosted-grafarg-team, @grafarg/grafarg-frontend-platform, @jessover9000, @grafarg/observability-squad, @grafarg/cloud-middleware

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Documentation owner: Diana Payton
/docs/ @grafarg/docs-squad
/contribute/ @marcusolsson @grafarg/docs-squad
/docs/sources/developers/plugins/ @marcusolsson
/docs/sources/enterprise/ @osg-grafarg

# Backend code
*.go @grafarg/backend-platform
go.mod @grafarg/backend-platform
go.sum @grafarg/backend-platform

#Cloud Datasources backend code
/pkg/tsdb/cloudwatch @grafarg/cloud-datasources
/pkg/tsdb/azuremonitor @grafarg/cloud-datasources
/pkg/tsdb/cloudmonitoring @grafarg/cloud-datasources

# Database migrations
/pkg/services/sqlstore/migrations @grafarg/backend-platform @grafarg/hosted-grafarg-team
*_mig.go @grafarg/backend-platform @grafarg/hosted-grafarg-team

# Backend code docs
/contribute/style-guides/backend.md @grafarg/backend-platform

/e2e @grafarg/grafarg-frontend-platform
/packages @grafarg/grafarg-frontend-platform
/plugins-bundled @grafarg/grafarg-frontend-platform
/public @grafarg/grafarg-frontend-platform
/scripts/build/release-packages.sh @grafarg/grafarg-frontend-platform
/scripts/circle-release-next-packages.sh @grafarg/grafarg-frontend-platform
/scripts/ci-frontend-metrics.sh @grafarg/grafarg-frontend-platform
/scripts/grunt @grafarg/grafarg-frontend-platform
/scripts/webpack @grafarg/grafarg-frontend-platform
package.json @grafarg/grafarg-frontend-platform
tsconfig.json @grafarg/grafarg-frontend-platform
lerna.json @grafarg/grafarg-frontend-platform
.babelrc @grafarg/grafarg-frontend-platform
.prettierrc.js @grafarg/grafarg-frontend-platform
.eslintrc @grafarg/grafarg-frontend-platform

# @grafarg/ui component documentation
*.mdx @marcusolsson @jessover9000 @grafarg/grafarg-frontend-platform

/public/app/features/explore/ @grafarg/observability-squad
/packages/jaeger-ui-components/ @grafarg/observability-squad

# Core datasources
/public/app/plugins/datasource/cloudwatch @grafarg/cloud-datasources @grafarg/observability-squad
/public/app/plugins/datasource/elasticsearch @grafarg/observability-squad
/public/app/plugins/datasource/grafarg-azure-monitor-datasource @grafarg/cloud-datasources
/public/app/plugins/datasource/graphite @grafarg/observability-squad
/public/app/plugins/datasource/influxdb @grafarg/observability-squad
/public/app/plugins/datasource/jaeger @grafarg/observability-squad
/public/app/plugins/datasource/loki @grafarg/observability-squad
/public/app/plugins/datasource/mssql @grafarg/backend-platform
/public/app/plugins/datasource/mysql @grafarg/backend-platform
/public/app/plugins/datasource/opentsdb @grafarg/backend-platform
/public/app/plugins/datasource/postgres @grafarg/backend-platform
/public/app/plugins/datasource/prometheus @grafarg/observability-squad
/public/app/plugins/datasource/cloud-monitoring @grafarg/cloud-datasources
/public/app/plugins/datasource/zipkin @grafarg/observability-squad

# Cloud middleware
/grafarg-mixin/ @grafarg/cloud-middleware

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

docs-build-static command added to build docs output content to dist folder.
  docs/Makefile
Owners: @grafarg/docs-squad

famark cloud datasource plugin added
  go.sum
  package.json
  public/app/features/datasources/state/buildCategories.ts
  public/app/features/plugins/built_in_plugins.ts
  public/app/plugins/datasource/famark-cloud-datasource/api.ts
  public/app/plugins/datasource/famark-cloud-datasource/components/BodyQueryBuilder.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/ConfigEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/ExperimentalEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/FieldEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/JsonPathQueryField.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/JsonataQueryField.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/KeyValueEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/PathEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/QueryEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/TabbedQueryEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/components/VariableQueryEditor.tsx
  public/app/plugins/datasource/famark-cloud-datasource/datasource.test.ts
  public/app/plugins/datasource/famark-cloud-datasource/datasource.ts
  public/app/plugins/datasource/famark-cloud-datasource/detectFieldType.test.ts
  public/app/plugins/datasource/famark-cloud-datasource/detectFieldType.ts
  public/app/plugins/datasource/famark-cloud-datasource/img/dark.png
  public/app/plugins/datasource/famark-cloud-datasource/img/light.png
  public/app/plugins/datasource/famark-cloud-datasource/img/logo.svg
  public/app/plugins/datasource/famark-cloud-datasource/jsonpath.test.ts
  public/app/plugins/datasource/famark-cloud-datasource/jsonpath.ts
  public/app/plugins/datasource/famark-cloud-datasource/module.ts
  public/app/plugins/datasource/famark-cloud-datasource/parseValues.test.ts
  public/app/plugins/datasource/famark-cloud-datasource/parseValues.ts
  public/app/plugins/datasource/famark-cloud-datasource/plugin.json
  public/app/plugins/datasource/famark-cloud-datasource/suggestions.ts
  public/app/plugins/datasource/famark-cloud-datasource/tracking.ts
  public/app/plugins/datasource/famark-cloud-datasource/types.ts
  yarn.lock
Owners: @grafarg/backend-platform, @grafarg/grafarg-frontend-platform

homepath made relative in README.md
  README.md
Owners: none
