Repository famarks/grafarg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafarg/docs-squad, @marcusolsson, @osg-grafarg, @grafarg/backend-platform, @grafarg/cloud-datasources, @grafarg/hosted-grafarg-team, @grafarg/grafarg-frontend-platform, @jessover9000, @grafarg/observability-squad, @grafarg/cloud-middleware

node packages version changed from 7.5.17 to 7.4.5, prettierrc.js still refers legacy
  .prettierrc.js
  lerna.json
  package.json
  packages/grafarg-data/package.json
  packages/grafarg-e2e-selectors/package.json
  packages/grafarg-e2e/package.json
  packages/grafarg-runtime/package.json
  packages/grafarg-toolkit/package.json
  packages/grafarg-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
Owners: @grafarg/grafarg-frontend-platform, @grafarg/observability-squad

using package @grafarg/eslint-config 2.3.0
  .eslintrc
  contribute/style-guides/frontend.md
  package.json
  packages/grafarg-toolkit/package.json
  packages/grafarg-toolkit/src/config/eslint.plugin.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform, @marcusolsson, @grafarg/docs-squad

node package @grafarg/data 7.4.5
  packages/grafarg-data/package.json
Owners: @grafarg/grafarg-frontend-platform

grafarg-ui depends on aws-sdk and aws-sdk depends on grafarg-ui
  packages/grafarg-e2e-selectors/package.json
  packages/grafarg-ui/package.json
Owners: @grafarg/grafarg-frontend-platform

node pacakge aws-sdk v0.0.3 being used
  .eslintrc
  package.json
  packages/grafarg-toolkit/package.json
  packages/grafarg-ui/rollup.config.ts
  packages/grafarg-ui/src/components/DataSourceSettings/SigV4AuthSettings.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/types.ts
Owners: @grafarg/grafarg-frontend-platform, @grafarg/cloud-datasources, @grafarg/observability-squad

changing to grafarg/eslint-config
  .eslintrc
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform

@grafarg/data depends only on @grafarg/tsconfig, increated to version 7.4.6
  packages/grafarg-data/package.json
Owners: @grafarg/grafarg-frontend-platform

grafarg-e2e-selectors only needs grafarg/tsconfig
  packages/grafarg-e2e-selectors/package.json
Owners: @grafarg/grafarg-frontend-platform

@grafarg/e2e only depends on @grafarg/e2e-selectors
  packages/grafarg-e2e/package.json
Owners: @grafarg/grafarg-frontend-platform

grafarg-ui updated to 7.4.6
  packages/grafarg-ui/package.json
Owners: @grafarg/grafarg-frontend-platform

grafarg-toolkit updated to 7.4.6
  packages/grafarg-toolkit/package.json
Owners: @grafarg/grafarg-frontend-platform

grafarg updated to 7.4.6
  .prettierrc.js
  package.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform

grafarg-runtime updated to 7.4.6
  packages/grafarg-runtime/package.json
Owners: @grafarg/grafarg-frontend-platform

node plugin input-datasource
  plugins-bundled/internal/input-datasource/package.json
Owners: @grafarg/grafarg-frontend-platform

lerna json yarn lock and jaeger-ui-components
  lerna.json
  packages/jaeger-ui-components/package.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform, @grafarg/observability-squad

updated pacakges to 7.4.63, aws-sdk and ui still use legacy data
  packages/grafarg-data/package.json
  packages/grafarg-e2e-selectors/package.json
  packages/grafarg-e2e/package.json
  packages/grafarg-runtime/package.json
  packages/grafarg-toolkit/package.json
  packages/grafarg-ui/package.json
Owners: @grafarg/grafarg-frontend-platform

packages data, e2e-selectors, ui and toolkit bumped to 7.4.65, data dependency on moment-timezone recognized but not marked, order data > e2e-selector > ui > toolkit
  packages/grafarg-data/package.json
  packages/grafarg-e2e-selectors/package.json
  packages/grafarg-toolkit/package.json
  packages/grafarg-ui/package.json
Owners: @grafarg/grafarg-frontend-platform

committing version 7.4.66 grafarg-ui depends on aws-sdk 0.0.55 which depends on legacy data and ui
  lerna.json
  package.json
  packages/grafarg-data/package.json
  packages/grafarg-e2e-selectors/package.json
  packages/grafarg-e2e/package.json
  packages/grafarg-runtime/package.json
  packages/grafarg-toolkit/package.json
  packages/grafarg-ui/package.json
  packages/jaeger-ui-components/package.json
  plugins-bundled/internal/input-datasource/package.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform, @grafarg/observability-squad

grafarg-ui 7.4.66 built with legacy aws-sdk and grafarg-data
  package.json
  packages/grafarg-e2e/bin/grafarg-e2e.js
  packages/grafarg-toolkit/bin/grafarg-toolkit.js
  packages/grafarg-ui/package.json
  packages/grafarg-ui/rollup.config.ts
  packages/grafarg-ui/src/components/DataSourceSettings/SigV4AuthSettings.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/types.ts
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform, @grafarg/cloud-datasources, @grafarg/observability-squad

grafarg packages code set to legacy 7.5.1 for new 7.4.71 for building aws-sdk, also removed @grafarg/slate-react from grafarg-ui dependency
  packages/grafarg-data/package.json
  packages/grafarg-data/src/transformations/transformers/ids.ts
  packages/grafarg-e2e-selectors/package.json
  packages/grafarg-e2e/package.json
  packages/grafarg-runtime/package.json
  packages/grafarg-runtime/tsconfig.json
  packages/grafarg-toolkit/package.json
  packages/grafarg-toolkit/src/cli/tasks/plugin.utils.ts
  packages/grafarg-toolkit/src/config/webpack.plugin.config.ts
  packages/grafarg-ui/package.json
  packages/grafarg-ui/rollup.config.ts
  packages/grafarg-ui/src/Intro.story.mdx
  packages/grafarg-ui/src/components/Chart/TooltipContainer.tsx
  packages/grafarg-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafarg-ui/src/components/DataSourceSettings/SigV4AuthSettings.tsx
  packages/grafarg-ui/src/components/QueryField/QueryField.test.tsx
  packages/grafarg-ui/src/components/QueryField/QueryField.tsx
  packages/grafarg-ui/src/components/Table/DefaultCell.tsx
  packages/grafarg-ui/src/components/Table/Table.test.tsx
  packages/grafarg-ui/src/components/Table/Table.tsx
  packages/grafarg-ui/src/components/Table/TableCell.tsx
  packages/grafarg-ui/src/components/Table/styles.ts
  packages/grafarg-ui/src/components/Table/utils.ts
  packages/grafarg-ui/src/slate-plugins/braces.test.tsx
  packages/grafarg-ui/src/slate-plugins/braces.ts
  packages/grafarg-ui/src/slate-plugins/clear.test.tsx
  packages/grafarg-ui/src/slate-plugins/clear.ts
  packages/grafarg-ui/src/slate-plugins/clipboard.ts
  packages/grafarg-ui/src/slate-plugins/indentation.ts
  packages/grafarg-ui/src/slate-plugins/newline.ts
  packages/grafarg-ui/src/slate-plugins/runner.test.tsx
  packages/grafarg-ui/src/slate-plugins/runner.ts
  packages/grafarg-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafarg-ui/src/slate-plugins/suggestions.tsx
  packages/grafarg-ui/src/types/completion.ts
  packages/grafarg-ui/tsconfig.json
  packages/jaeger-ui-components/package.json
  packages/jaeger-ui-components/tsconfig.json
Owners: @grafarg/grafarg-frontend-platform, @marcusolsson, @jessover9000, @grafarg/observability-squad

changed reference to @grafarg/slate-react to legacy slate-react
  packages/grafarg-runtime/tsconfig.json
  packages/grafarg-toolkit/src/config/webpack.plugin.config.ts
  packages/grafarg-ui/package.json
  packages/grafarg-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafarg-ui/src/components/QueryField/QueryField.tsx
  packages/grafarg-ui/src/slate-plugins/braces.test.tsx
  packages/grafarg-ui/src/slate-plugins/braces.ts
  packages/grafarg-ui/src/slate-plugins/clear.test.tsx
  packages/grafarg-ui/src/slate-plugins/clear.ts
  packages/grafarg-ui/src/slate-plugins/clipboard.ts
  packages/grafarg-ui/src/slate-plugins/indentation.ts
  packages/grafarg-ui/src/slate-plugins/newline.ts
  packages/grafarg-ui/src/slate-plugins/runner.test.tsx
  packages/grafarg-ui/src/slate-plugins/runner.ts
  packages/grafarg-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafarg-ui/src/slate-plugins/suggestions.tsx
  packages/grafarg-ui/tsconfig.json
  packages/jaeger-ui-components/tsconfig.json
  public/app/features/plugins/plugin_loader.ts
Owners: @grafarg/grafarg-frontend-platform, @grafarg/observability-squad

grafarg root package.json set for legacy 7.5.1 for 7.4.71
  package.json
Owners: @grafarg/grafarg-frontend-platform

using standard slate-react instead of legacy slate-react
  package.json
  packages/grafarg-runtime/tsconfig.json
  packages/grafarg-toolkit/src/config/webpack.plugin.config.ts
  packages/grafarg-ui/package.json
  packages/grafarg-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafarg-ui/src/components/QueryField/QueryField.tsx
  packages/grafarg-ui/src/slate-plugins/braces.test.tsx
  packages/grafarg-ui/src/slate-plugins/braces.ts
  packages/grafarg-ui/src/slate-plugins/clear.test.tsx
  packages/grafarg-ui/src/slate-plugins/clear.ts
  packages/grafarg-ui/src/slate-plugins/clipboard.ts
  packages/grafarg-ui/src/slate-plugins/indentation.ts
  packages/grafarg-ui/src/slate-plugins/newline.ts
  packages/grafarg-ui/src/slate-plugins/runner.test.tsx
  packages/grafarg-ui/src/slate-plugins/runner.ts
  packages/grafarg-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafarg-ui/src/slate-plugins/suggestions.tsx
  packages/grafarg-ui/tsconfig.json
  packages/jaeger-ui-components/tsconfig.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform, @grafarg/observability-squad

lerna.json version set to 7.4.71
  lerna.json
Owners: @grafarg/grafarg-frontend-platform

Revert "lerna.json version set to 7.4.71"
  lerna.json
Owners: @grafarg/grafarg-frontend-platform

Revert "using standard slate-react instead of legacy slate-react"
  package.json
  packages/grafarg-runtime/tsconfig.json
  packages/grafarg-toolkit/src/config/webpack.plugin.config.ts
  packages/grafarg-ui/package.json
  packages/grafarg-ui/src/components/DataLinks/DataLinkInput.tsx
  packages/grafarg-ui/src/components/QueryField/QueryField.tsx
  packages/grafarg-ui/src/slate-plugins/braces.test.tsx
  packages/grafarg-ui/src/slate-plugins/braces.ts
  packages/grafarg-ui/src/slate-plugins/clear.test.tsx
  packages/grafarg-ui/src/slate-plugins/clear.ts
  packages/grafarg-ui/src/slate-plugins/clipboard.ts
  packages/grafarg-ui/src/slate-plugins/indentation.ts
  packages/grafarg-ui/src/slate-plugins/newline.ts
  packages/grafarg-ui/src/slate-plugins/runner.test.tsx
  packages/grafarg-ui/src/slate-plugins/runner.ts
  packages/grafarg-ui/src/slate-plugins/selection_shortcuts.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/index.ts
  packages/grafarg-ui/src/slate-plugins/slate-prism/options.tsx
  packages/grafarg-ui/src/slate-plugins/suggestions.tsx
  packages/grafarg-ui/tsconfig.json
  packages/jaeger-ui-components/tsconfig.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform, @grafarg/observability-squad

lerna vsersion set to 7.4.71
  lerna.json
Owners: @grafarg/grafarg-frontend-platform

plugins-bundled\internal\input-datasource refers data, toolkit and ui. Grafarg Labs to Famarks
  packages/grafarg-data/src/dataframe/__snapshots__/all_types.golden.arrow
  packages/grafarg-ui/src/Intro.story.mdx
  plugins-bundled/internal/input-datasource/package.json
  plugins-bundled/internal/input-datasource/src/plugin.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform, @marcusolsson, @jessover9000

yarn.lock slate default version changed to 0.47.2 instead of 0.47.9
  yarn.lock
Owners: none

inpage svg icon change for Grafarg.tsx
  packages/grafarg-ui/src/components/Icon/assets/Grafarg.tsx
Owners: @grafarg/grafarg-frontend-platform

preloader logo changed path union to have a single path for both preloader and Grafarg.tsx on landing page.
  packages/grafarg-ui/src/components/Icon/assets/Grafarg.tsx
  public/views/index-template.html
Owners: @grafarg/grafarg-frontend-platform

changed api-documenter and extractor to ms rushstack packages
  package.json
  yarn.lock
Owners: @grafarg/grafarg-frontend-platform

update-browserlist-db@latest passing -y key
  README.md
Owners: none

Update Makefile to use grafarg image in famarks dockerhub account
  docs/Makefile
Owners: @grafarg/docs-squad

Update Makefile website/static moved to nested website/static/static
  docs/Makefile
Owners: @grafarg/docs-squad

Update README.md with license details
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Documentation owner: Diana Payton
/docs/ @grafarg/docs-squad
/contribute/ @marcusolsson @grafarg/docs-squad
/docs/sources/developers/plugins/ @marcusolsson
/docs/sources/enterprise/ @osg-grafarg

# Backend code
*.go @grafarg/backend-platform
go.mod @grafarg/backend-platform
go.sum @grafarg/backend-platform

#Cloud Datasources backend code
/pkg/tsdb/cloudwatch @grafarg/cloud-datasources
/pkg/tsdb/azuremonitor @grafarg/cloud-datasources
/pkg/tsdb/cloudmonitoring @grafarg/cloud-datasources

# Database migrations
/pkg/services/sqlstore/migrations @grafarg/backend-platform @grafarg/hosted-grafarg-team
*_mig.go @grafarg/backend-platform @grafarg/hosted-grafarg-team

# Backend code docs
/contribute/style-guides/backend.md @grafarg/backend-platform

/e2e @grafarg/grafarg-frontend-platform
/packages @grafarg/grafarg-frontend-platform
/plugins-bundled @grafarg/grafarg-frontend-platform
/public @grafarg/grafarg-frontend-platform
/scripts/build/release-packages.sh @grafarg/grafarg-frontend-platform
/scripts/circle-release-next-packages.sh @grafarg/grafarg-frontend-platform
/scripts/ci-frontend-metrics.sh @grafarg/grafarg-frontend-platform
/scripts/grunt @grafarg/grafarg-frontend-platform
/scripts/webpack @grafarg/grafarg-frontend-platform
package.json @grafarg/grafarg-frontend-platform
tsconfig.json @grafarg/grafarg-frontend-platform
lerna.json @grafarg/grafarg-frontend-platform
.babelrc @grafarg/grafarg-frontend-platform
.prettierrc.js @grafarg/grafarg-frontend-platform
.eslintrc @grafarg/grafarg-frontend-platform

# @grafarg/ui component documentation
*.mdx @marcusolsson @jessover9000 @grafarg/grafarg-frontend-platform

/public/app/features/explore/ @grafarg/observability-squad
/packages/jaeger-ui-components/ @grafarg/observability-squad

# Core datasources
/public/app/plugins/datasource/cloudwatch @grafarg/cloud-datasources @grafarg/observability-squad
/public/app/plugins/datasource/elasticsearch @grafarg/observability-squad
/public/app/plugins/datasource/grafarg-azure-monitor-datasource @grafarg/cloud-datasources
/public/app/plugins/datasource/graphite @grafarg/observability-squad
/public/app/plugins/datasource/influxdb @grafarg/observability-squad
/public/app/plugins/datasource/jaeger @grafarg/observability-squad
/public/app/plugins/datasource/loki @grafarg/observability-squad
/public/app/plugins/datasource/mssql @grafarg/backend-platform
/public/app/plugins/datasource/mysql @grafarg/backend-platform
/public/app/plugins/datasource/opentsdb @grafarg/backend-platform
/public/app/plugins/datasource/postgres @grafarg/backend-platform
/public/app/plugins/datasource/prometheus @grafarg/observability-squad
/public/app/plugins/datasource/cloud-monitoring @grafarg/cloud-datasources
/public/app/plugins/datasource/zipkin @grafarg/observability-squad

# Cloud middleware
/grafarg-mixin/ @grafarg/cloud-middleware
